* {
margin: 0px;
padding: 0px;
}

body { 
padding: 0px;
border: 0px;
outline: 0px;
box-sizing: border-box;
height: 100vh;
width: 100%;
position: relative;
background: linear-gradient(23deg, #c2e59c , #64b3f4);
overflow: hidden;
font-family: 'Raleway', sans-serif;
}

.parent{
	width: 100%;
	height: 100%;
}

.loginComponent{
	width: 100%;
	height: 100%;
	text-align: center;
}

.greeting{
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 50px;
	margin-top: 5em;
	margin-bottom: 2em;
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}




.aaa{
	top: 1.6em;
	font-size: 18px;
	height:90px;
	text-decoration: none;
font-family: 'Raleway', sans-serif;
	padding-top: 4px;
	padding-bottom: 4px;

}

.Nav{
	background-color: white;
	border: solid #E2E2E2 2px;
	text-align: right;
	height: 5em;
	width: 100%;

}
.name{
	padding: 25px;
}

.second,.third{
	display: inline-block;
	text-align: center;
	
	
}


.second{
	background-color: grey;
	height: 10em;
	width: 20%;
}

.third{
	background-color: black;
	height: 10em;
	width: 80%;
}


.questions{
	border-radius: 25px;
	text-align: center;
	border: solid #E2E2E2 3px;
	background-color: white;
	height: 13em;
	width: 40%;
	margin-left: 33%;
}


.answer{
	border-radius: 25px;
	text-align: center;
	border: solid #E2E2E2 3px;
	background-color: white;
	height: 13em;
	width: 40%;
	margin-left: 33%;
}

.spanish, .english {
	margin-top: 8px;
}

.spanishWord {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
	font-size: 80px;
}

#input_text {
	display: inline-block;
	border: none;
  border-bottom: 2px solid #ddd;
	background: transparent;
	outline: none;
	padding-top: 100px;
	/*height: 30px;*/
	width: 40%;
	margin-right: 5px;
}

.logout {
	appearance: button;
	text-decoration: none;
	width: 70px;
	text-align: center;
}

.correct, .incorrect {
	margin-left: 8px;
}

.title {
	font-size: 1.6em;
}

.tagline {
	padding-top: 15px;
	font-size: 26px;
}

.score-container {
	border: 3px solid #E2E2E2;
	width: 10%;
	height: 10%;
	background-color: white;
	border-radius: 25px;
	padding: 5px;
	text-align: center;
	margin-left: 5px;
}


